@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  color: mediumblue;
  font:400 15px/1.2 'Roboto Slab',sans-serif;
}
a, a:visited {
  color: mediumblue;
}
a:hover, a:active {
  color: gold;
}
/* Typography */
.header {
  margin-bottom: 30px;
}
.header,
.footer {
  padding: 10px;
  text-align: center;
}
.siteTitle {
  font-size: 60px;
}
.sectionTitle,
.description {
  max-width: 500px;
}
.description {
  font-size: 1.2em;
  margin: 1em auto;
  text-align: center;
}
.sectionTitle {
  font-size: 2.2em;
  margin: 2em auto 1em;
  text-align: center;
}
h3,p  {
  margin-bottom: .2em;
  margin-top: .2em;
}
.rapper > h3 {
  font-size: 13.5px;
}
.rapper p {
  font-size: 12.5px;
}
.outerUrl{
  border-radius: 8px;
  color: white;
  font-size: 12px;
  margin-top: .2em;
  padding: 12px 0;
  text-decoration: none;
}
.outerUrl:hover {
  background: gold;
  color: mediumblue;
}
/* Header Design*/
header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  overflow: hidden;
  border-bottom: 2px solid;
}
.header-overlay {
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: -1;
  text-align: center;
  overflow: hidden;
  background: #fff0f0;
}
.header-overlay img{
  float: left;
  height: auto;
  max-width: 500px;
  opacity: .3;
  position: relative;
}
/* Buttons */
.buttonToolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: .5em auto;
  text-align: center;
  max-width: 300px;
  border: 2px solid mediumblue;
}
.buttonToolbar button {
  flex: auto;
  border-right: 2px solid mediumblue;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  background: mediumblue;
  color: #fff;
  font-weight: 700;
  padding: 6px 12px;
}
.buttonToolbar button:hover {
  cursor: pointer;
}
button.inactive:hover {
  background: Gold;
  color: mediumblue;
}
.buttonToolbar button:last-of-type {
  border-right: 0;
}
.buttonToolbar button.inactive {
  background: #fff;
  color: mediumblue;
}
.btn-top:after {
  content: '\2191';
  padding-left: 1px;
}
/* Chart */
.chart {
  display: block;
  margin: 0 auto;
}
.axis text {
  fill: mediumblue
}
.x.axis text,
.y.axis text {
  font-size: 11px;
}
.axis line {
  stroke: mediumblue;
}
.axis.y path {
  stroke: none;
}
.axis.y line {
  stroke: mediumblue;
  opacity: .1;
}
.bars {
  fill: rgba(0,0,255,0.3);
}
.bars.inactive {
  fill: rgba(0,0,0,0.1);
}
.rapperTextOutline {
  fill: white;
  font-size: 11.5px;
  font-weight: 700;
}
.rapperText {
  fill: mediumblue;
  font-size: 11px;
  font-weight: 700;
}
.domain {
  fill: none;
  stroke: mediumblue;
}
/* Giant Timeline */
.indexWrapper {
  font-family: monospace;
  font-size: 10px;
  max-width: 100px;
  height: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  -o-flex-flow: column wrap;
  flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.indexWrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.yearBlock {
  border: 5px solid mediumblue;
  margin: 1em auto 3em;
  text-align: center;
  display: block;
  width: 310px;
  min-height: 300px;
  position:relative;
}
.yearTitle {
  font-size: 60px;
  text-align: center;
}
.yearTitle {
  padding: 0;
  display: block;
  position: absolute;
  top: 80px;
  top: calc(50% - 40px);
  left: 85px;
  left: calc(50% - 63px);
  margin-top: 0;
  height: 100%;
}
.rapper a,
.rapper {
  color: white;
}
.rapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background: mediumblue;
  border-radius: 8px;
  margin-bottom: 2em;
  padding: 0 5px 8px;
  max-width: 200px;
  position: relative;
}
.rapper:before {
  content: '';
  font-size: 20px;
  color: red;
  display: block;
  position: relative;
  width: 30px;
  height: 5px;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  z-index: -9;
  margin: 0;
  padding: 0;
  top: 10px;
}
.rapper:nth-of-type(odd) {
  left: 330px;
}
.rapper:nth-of-type(odd):before {
  border-bottom: 5px solid mediumblue;
  right: 30px;
}
.rapper:nth-of-type(even) {
  left: -230px;
}
.rapper:nth-of-type(even):before {
  border-bottom: 5px solid mediumblue;
  left: 191px;
}
/* Toggle */
.hidden {
  display: none;
}
.active {
  display: block;
}
@media screen and (max-width: 920px){
  .indexWrapper {
    display: none;
  }
  .yearBlock{
    border: 0;
  }
  .yearTitle {
    border: 5px solid mediumblue;
    margin: 30px auto;
    padding: 20px;
    position: static;
    display: block;
  }
  .rapper{
    position: static;
    margin: 30px auto;
  }
  .rapper:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    z-index: 9;
    position: relative;
    top: -20px;
    left: 40%;
    width: 36px;
  }
  .rapper:nth-of-type(even):before {
    border-bottom: 5px solid mediumblue;
    left: 77px;
  }
}
